---
layout: landing
---
<!-- Full-screen landing -->
<section id="banner">
	<div class="inner">
		<h2>{{ site.title }}</h2>
		<p>{{ site.description | markdownify }}</p>
	</div>
	<a href="#one" class="more scrolly">Learn More</a>
</section>

<!-- Large light-blue major banner -->
<section id="one" class="wrapper style1 special">
	<div class="inner">
		<header class="major">
			<h2>About Me</h2>
			<p>Here's a little bit about me.</p>
		</header>
		<ul class="icons major">
			<li><span class="icon fa-space-shuttle major style1"><span class="label">Lorem</span></span></li>
			<li><span class="icon fa-code major style2"><span class="label">Dolor</span></span></li>
			<li><span class="icon fa-bar-chart-o major style3"><span class="label">Dolor</span></span></li>
		</ul>
	</div>
</section>

<!-- Individual blog post summaries -->
<section id="two" class="wrapper alt style2">
	{% for post in site.posts %}{% if post.categories contains 'blog' %}
		{% capture newcount %}{{ blogcount | append: '-' }}{% endcapture %}{% assign blogcount = newcount %}
		{% if blogcount.size <= 3 %}
			<section class="spotlight">
				<div class="image" style="height: 300px; width: 500px;"><img src="/images/{{ post.image }}" alt="" style="width: 100%; height: 100%; object-fit: cover" class="img-rounded" /></div>
				<div class="content">
					<header>
						<div class="row">
							{% if blogcount.size <= 1 %}<div style="font-size: 0.6em; padding-left: 2.5em;">Latest Blog Post</div>{% endif %}
							<div><h3><a href="{{ post.url }}">{{ post.title }}</a></h3></div>
						</div>
						<p style="font-size: 0.8em; margin-bottom: 10px;">{{ post.subtitle }}</p>
					</header>
					<p style="font-size: 0.7em">{{ post.content | strip_html | truncatewords: 40 }}</p>
				</div>
			</section>
		{% endif %}
	{% endif %}{% endfor %}
</section>

<!-- Purple banner area with smaller box areas -->
<section id="three" class="wrapper style3 special">
	<div class="inner">
		<ul class="features">
			<li class="icon fa-code-fork">
				<h3><a href="http://github.com/bathompso">Software Projects</a></h3>
				<p>Check out my GitHub to see what software projects I'm working on.</p>
			</li>
			<li class="icon fa-rss">
				<h3><a href="/blog">Blog</a></h3>
				<p>Read my random musings on technology, science, my career, and anything else.</p>
			</li>
			<li class="icon fa-sticky-note-o">
				<h3><a href="/resume">R&eacute;sum&eacute;</a></h3>
				<p>Look at my previous work history, and connect with me on LinkedIn, Twitter, and everywhere else.</p>
			</li>
			<li class="icon fa-university">
				<h3>Online Courses</h3>
				<p>Check out some of the online course material I've put together on a variety of subjects, such as computational physics or astrophysics.</p>
			</li>
		</ul>
	</div>
</section>
