html {
  font-size: 1em; }

body {
  font: 0.8em / 1.7em 'PT Sans', Georgia, 'Times New Roman', Times, serif; }
  @media only screen and (max-width: 767px) {
    body {
      font: 1.1em / 2.0em 'PT Sans', Georgia, 'Times New Roman', Times, serif; } }

a, a:visited {
    color: #20a3db;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

.awesome-icon {
    float: left;
    padding-left: 15px;
}

.awesome-icon a {
    color: #555;
}

.awesome-icon a:hover {
    color: #000;
}

.header {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px; }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    .header {
      width: 728px; } }
  @media only screen and (max-width: 767px) {
    .header {
      width: 98%;
      padding-left: 1%; } }

.sitelogo {
  float: left;
  padding-right: 0px;
  margin-top: -10px;
  margin-bottom: -70px; }
  @media only screen and (max-width: 767px) {
    .sitelogo {
      display: none; } }

.sitetitle {
  float: left;
  width: 35%;
  font-size: 2.5em;
  line-height: 1em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -2px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 20px; }
  .sitetitle a, .sitetitle a:visited {
    color: black; }
  @media only screen and (max-width: 767px) {
    .sitetitle {
      width: 100%;
      float: none;
      font-size: 1.8em; } }

.mainnav {
  float: right;
  margin-top: 12px;
  margin-right: 10px; }
  @media only screen and (max-width: 767px) {
    .mainnav {
      width: 100%;
      float: none;
      margin-top: 5px;
      margin-right: 0px; } }

.naventry {
  float: left;
  line-height: 0.8em;
  margin-left: 3.5em;
  text-transform: uppercase;
  font-size: 0.9em;
  color: #888; }
  @media only screen and (max-width: 767px) {
    .naventry {
      margin-left: 0px;
      margin-right: 20px;
      margin-bottom: 20px; } }

.breadcrumbs {
  color: #888;
  clear: both;
  font-size: 0.9em;
  padding: 2px 0px 2px 0px;
  margin-left: 105px;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7; }
  @media only screen and (max-width: 767px) {
    .breadcrumbs {
      width: 100%;
      padding: 0px 0px 0px 0px;
      margin-left: 0px; } }

.pagetitle {
  padding-top: 20px;
  font-size: 1.8em;
  color: #888;
  text-transform: uppercase; }

.pagecontent {
  padding-top: 5px;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  clear: both; }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    .pagecontent {
      width: 728px; } }
  @media only screen and (max-width: 767px) {
    .pagecontent {
      width: 100%; } }

.blogcontent {
  width: 68%;
  float: left; }
  @media only screen and (max-width: 767px) {
    .blogcontent {
      width: 100%; } }

.blogsumm {
  border-bottom: 1px solid #e7e7e7; }

.blogsummimg {
  padding: 30px 25px 0px 0px;
  width: 125px;
  overflow: hidden;
  float: left; }
  @media only screen and (max-width: 767px) {
    .blogsummimg {
      overflow: hidden;
      padding: 0px 0px 0px 0px;
      width: 106%;
      margin-left: -3%;
      margin-top: 20px;
      height: 150px; } }
  .blogsummimg img {
    height: 150px;
    margin-left: -25%;
    padding: 1px 1px 1px 1px; }
    @media only screen and (max-width: 767px) {
      .blogsummimg img {
        height: auto;
        width: 100%;
        margin-left: 0px; } }

.blogemptyimg {
  padding: 30px 25px 0px 0px;
  width: 125px;
  overflow: hidden;
  float: left;
  height: 150px; }
  @media only screen and (max-width: 767px) {
    .blogemptyimg {
      display: none; } }

.blogsummtitle {
  float: left;
  width: 70%;
  padding-left: 25px;
  padding-top: 27px;
  font-size: 1.3em;
  text-transform: uppercase; }
  .blogsummtitle a {
    color: black; }
  .blogsummtitle a:visited {
    color: black; }
  .blogsummtitle a:hover {
    color: #20a3db; }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    .blogsummtitle {
      width: 320px; } }
  @media only screen and (max-width: 767px) {
    .blogsummtitle {
      width: 98%;
      padding-left: 1%;
      padding-top: 5px;
      text-align: center; } }

.blogsummbyline {
  padding-top: 10px;
  float: left;
  width: 70%;
  padding-left: 25px;
  font-size: 0.9em;
  color: #aaa; }
  .blogsummbyline a {
    color: #aaa; }
  .blogsummbyline a:visited {
    color: #aaa; }
  .blogsummbyline a:hover {
    color: #aaa;
    text-decoration: underline; }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    .blogsummbyline {
      width: 320px; } }
  @media only screen and (max-width: 767px) {
    .blogsummbyline {
      width: 98%;
      padding-left: 1%;
      padding-top: 0px;
      font-size: 0.7em;
      text-align: center; } }

.blogsummtext {
  padding-top: 10px;
  float: left;
  width: 420px;
  padding-left: 25px;
  font-size: 1.12em;
  line-height: 1.6em; }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    .blogsummtext {
      width: 320px; } }
  @media only screen and (max-width: 767px) {
    .blogsummtext {
      width: 98%;
      padding-left: 1%;
      font-size: 0.9em; } }

.blogside {
  width: 28%;
  float: right;
  font-size: 0.85em;
  padding-top: 30px; }
  .blogside img {
    height: 50px;
    clear: both;
    float: left; }
  @media only screen and (max-width: 767px) {
    .blogside {
      display: none; } }

.blogarchive {
  width: 100%;
  padding-top: 10px;
  font-size: 1.4em;
  text-align: center;
  color: #888;
  cursor: pointer; }

/* Individual Blog Post Page Styles */
.blogentrytitle {
  padding-top: 30px;
  font-size: 2.1em;
  text-transform: uppercase;
  word-spacing: 2px; }

.blogentrybyline {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 0.9em;
  color: #888; }
  .blogentrybyline a {
    color: #888; }
  .blogentrybyline a:visited {
    color: #888; }
  .blogentrybyline a:hover {
    color: #888;
    text-decoration: underline; }

.blogmainimg {
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 20px black;
  width: 98%; }

.blogtextimg {
  width: 98%;
  padding-left: 1%; }

.socialbutton {
  width: 100px;
  float: left; }

blockquote {
  border-left: 1px solid #888;
  padding-left: 10px;
  font-size: 0.9em;
  color: #888; }

.researchmainimg {
  padding: 0px;
  margin-top: 20px;
  border: 0px;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 20px black; }
  @media only screen and (max-width: 767px) {
    .researchmainimg {
      width: 110%;
      margin-left: -5%;
      box-shadow: 0 0 0px black;
      margin-bottom: -20px; } }

.researchpage h2 {
  font-size: 2em; }
  @media only screen and (max-width: 767px) {
    .researchpage h2 {
      text-align: center;
      font-size: 1.5em;
      line-height: 1em; } }
.researchpage h4 {
  font-size: 1.3em;
  color: #888;
  margin-top: -15px; }
  @media only screen and (max-width: 767px) {
    .researchpage h4 {
      text-align: center;
      font-size: 0.7em; } }
@media only screen and (max-width: 767px) {
  .researchpage p {
    width: 98%;
    padding-left: 1%;
    font-size: 0.9em;
    line-height: 1.4em; } }

@media only screen and (max-width: 767px) {
  .royalslider {
    display: none; } }

.slidertitle {
  font-size: 2.5em;
  line-height: 1em;
  text-align: center;
  padding-bottom: 20px; }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    .slidertitle {
      font-size: 1.8em;
      padding-bottom: 5px; } }

.slidertext {
  font-size: 1.3em; }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    .slidertext {
      font-size: 0.98em; } }
  .slidertext a, .slidertext a:visited {
    color: white; }
  .slidertext a:hover {
    color: #20a3db; }
  .slidertext .button {
    margin-top: 20px; }

.contact {
  margin-top: -60px;
  clear: both; }
  .contact div {
    margin-top: 17px; }
  .contact img {
    float: left; }

.slidericon {
  height: 50px;
  padding-right: 0px;
  border: 0px; }

.button {
  padding: 5px 12px 6px 12px;
  background: #20a3db;
  border: none;
  height: 33px;
  width: 140px;
  margin-left: auto;
  margin-right: auto;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px; }
  @media mediatablet {
    .button {
      height: auto; } }

.button:hover {
  background: #222; }

.wocsphot {
  margin: 0 0 1.7em 0;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1.7em; }
  .wocsphot th {
    font-size: 1.1em;
    font-weight: bold;
    padding-bottom: 3px;
    border-bottom: 3px solid #e7e7e7;
    text-align: center; }
  .wocsphot td {
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid #e7e7e7;
    text-align: center; }
  .wocsphot .name {
    text-align: left; }
  .wocsphot .deccoo {
    display: none; }

.lessonlist {
  width: 80%; }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    .lessonlist {
      width: 100%; } }
  @media only screen and (max-width: 767px) {
    .lessonlist {
      width: 100%; } }

.lessonwrap {
  border-bottom: 1px solid #e7e7e7; }

.lessonsummimg {
  margin-left: 10px;
  margin-top: 25px;
  padding: 2px;
  float: left;
  border: 1px solid #e7e7e7; }
  @media only screen and (max-width: 767px) {
    .lessonsummimg {
      width: 100px;
      margin-left: 0px; } }

.lessonemptyimg {
  padding-left: 10px;
  padding-top: 25px;
  float: left;
  width: 200px;
  height: 30px; }
  @media only screen and (max-width: 767px) {
    .lessonemptyimg {
      display: none; } }

.lessonsummtitle {
  float: left;
  width: 470px;
  padding-left: 25px;
  padding-top: 27px;
  font-size: 1.3em;
  text-transform: uppercase; }
  .lessonsummtitle a {
    color: black; }
  .lessonsummtitle a:visited {
    color: black; }
  .lessonsummtitle a:hover {
    color: #20a3db; }
  @media only screen and (max-width: 767px) {
    .lessonsummtitle {
      font-size: 1.0em;
      width: 170px;
      padding-left: 10px; } }

.lessonsummtext {
  padding-top: 10px;
  float: left;
  width: 470px;
  padding-left: 25px;
  font-size: 1.12em;
  line-height: 1.6em; }
  @media only screen and (max-width: 767px) {
    .lessonsummtext {
      width: 100%;
      padding-left: 5px;
      font-size: 0.9em; } }

/* Individual Lesson Styles */
.lessontextimg {
  float: right;
  padding: 2px;
  border: 1px solid #e7e7e7;
  margin-left: 10px; }

h4 {
  clear: both; }

h3 {
  clear: both; }

code {
  background-color: #e7e7e7; }

.shell {
  width: 95%;
  padding-left: 10px;
  background-color: #e7e7e7;
  border: 1px solid #888;
  word-wrap: break-word;
  border-radius: 5px;
  font-size: 1.2em;
  line-height: 0.9em; }

.pyfile {
  width: 95%;
  padding-left: 10px;
  background-color: #fff0dd;
  border: 1px solid #f6e4cc;
  word-wrap: break-word;
  border-radius: 5px;
  font-size: 1.2em;
  line-height: 0.9em; }
  .pyfile code {
    background-color: transparent; }

.code {
  width: 60%;
  float: left;
  padding: 10px;
  background-color: #fff0dd;
  border: 1px solid #f6e4cc;
  white-space: pre-wrap;
  border-radius: 5px;
  font-size: 1.2em;
  line-height: 1.1em;
  word-wrap: break-word; }
  .code code {
    background-color: transparent; }
  @media only screen and (max-width: 767px) {
    .code {
      width: 90%;
      float: none; } }

.results {
  width: 32%;
  margin-left: 1%;
  float: left;
  padding: 10px;
  background-color: #dadada;
  border: 1px solid #979797;
  white-space: pre-wrap;
  border-radius: 5px;
  font-size: 1.2em;
  line-height: 1.1em; }
  .results code {
    background-color: transparent; }
  @media only screen and (max-width: 767px) {
    .results {
      width: 90%;
      float: none; } }

span.hll {
  background-color: #ffffcc; }

span.c {
  color: #808080; }

/* Comment */
span.err {
  color: #F00000;
  background-color: #F0A0A0; }

/* Error */
span.k {
  color: #008000;
  font-weight: bold; }

/* Keyword */
span.o {
  color: #303030; }

/* Operator */
span.cm {
  color: #808080; }

/* Comment.Multiline */
span.cp {
  color: #507090; }

/* Comment.Preproc */
span.c1 {
  color: #808080; }

/* Comment.Single */
span.cs {
  color: #cc0000;
  font-weight: bold; }

/* Comment.Special */
span.gd {
  color: #A00000; }

/* Generic.Deleted */
span.ge {
  font-style: italic; }

/* Generic.Emph */
span.gr {
  color: #FF0000; }

/* Generic.Error */
span.gh {
  color: #000080;
  font-weight: bold; }

/* Generic.Heading */
span.gi {
  color: #00A000; }

/* Generic.Inserted */
span.go {
  color: #808080; }

/* Generic.Output */
span.gp {
  color: #c65d09;
  font-weight: bold; }

/* Generic.Prompt */
span.gs {
  font-weight: bold; }

/* Generic.Strong */
span.gu {
  color: #800080;
  font-weight: bold; }

/* Generic.Subheading */
span.gt {
  color: #0040D0; }

/* Generic.Traceback */
span.kc {
  color: #008000;
  font-weight: bold; }

/* Keyword.Constant */
span.kd {
  color: #008000;
  font-weight: bold; }

/* Keyword.Declaration */
span.kn {
  color: #008000;
  font-weight: bold; }

/* Keyword.Namespace */
span.kp {
  color: #003080;
  font-weight: bold; }

/* Keyword.Pseudo */
span.kr {
  color: #008000;
  font-weight: bold; }

/* Keyword.Reserved */
span.kt {
  color: #303090;
  font-weight: bold; }

/* Keyword.Type */
span.m {
  color: #6000E0;
  font-weight: bold; }

/* Literal.Number */
span.s {
  color: #CA0606; }

/* Literal.String */
span.na {
  color: #0000C0; }

/* Name.Attribute */
span.nb {
  color: #007020; }

/* Name.Builtin */
span.nc {
  color: #B00060;
  font-weight: bold; }

/* Name.Class */
span.no {
  color: #003060;
  font-weight: bold; }

/* Name.Constant */
span.nd {
  color: #505050;
  font-weight: bold; }

/* Name.Decorator */
span.ni {
  color: #800000;
  font-weight: bold; }

/* Name.Entity */
span.ne {
  color: #F00000;
  font-weight: bold; }

/* Name.Exception */
span.nf {
  color: #0060B0;
  font-weight: bold; }

/* Name.Function */
span.nl {
  color: #907000;
  font-weight: bold; }

/* Name.Label */
span.nn {
  color: #0e84b5;
  font-weight: bold; }

/* Name.Namespace */
span.nt {
  color: #007000; }

/* Name.Tag */
span.nv {
  color: #906030; }

/* Name.Variable */
span.ow {
  color: #000000;
  font-weight: bold; }

/* Operator.Word */
span.w {
  color: #bbbbbb; }

/* Text.Whitespace */
span.mf {
  color: #6000E0;
  font-weight: bold; }

/* Literal.Number.Float */
span.mh {
  color: #005080;
  font-weight: bold; }

/* Literal.Number.Hex */
span.mi {
  color: #0000D0;
  font-weight: bold; }

/* Literal.Number.Integer */
span.mo {
  color: #4000E0;
  font-weight: bold; }

/* Literal.Number.Oct */
span.sb {
  background-color: #fff0f0; }

/* Literal.String.Backtick */
span.sc {
  color: #0040D0; }

/* Literal.String.Char */
span.sd {
  color: #D04020; }

/* Literal.String.Doc */
span.s2 {
  background-color: #fff0f0; }

/* Literal.String.Double */
span.se {
  color: #606060;
  font-weight: bold;
  background-color: #fff0f0; }

/* Literal.String.Escape */
span.sh {
  background-color: #fff0f0; }

/* Literal.String.Heredoc */
span.si {
  background-color: #e0e0e0; }

/* Literal.String.Interpol */
span.sx {
  color: #D02000;
  background-color: #fff0f0; }

/* Literal.String.Other */
span.sr {
  color: #000000;
  background-color: #fff0ff; }

/* Literal.String.Regex */
span.s1 {
  background-color: #fff0f0; }

/* Literal.String.Single */
span.ss {
  color: #A06000; }

/* Literal.String.Symbol */
span.bp {
  color: #007020; }

/* Name.Builtin.Pseudo */
span.vc {
  color: #306090; }

/* Name.Variable.Class */
span.vg {
  color: #d07000;
  font-weight: bold; }

/* Name.Variable.Global */
span.vi {
  color: #3030B0; }

/* Name.Variable.Instance */
span.il {
  color: #0000D0;
  font-weight: bold; }

/* Literal.Number.Integer.Long */
.resmain {
  width: 65%;
  float: left; }
  .resmain h1 {
    font-size: 2.5em;
    padding-bottom: 20px; }
  .resmain h2 {
    width: 100%;
    border-bottom: 1px solid black;
    padding-top: 20px; }

.resside {
  width: 30%;
  float: right; }
  .resside h2 {
    width: 100%;
    border-bottom: 1px solid black; }

.contactleft {
  margin-top: -25px; }
  .contactleft .resimg {
    float: left; }
  .contactleft .rescontact {
    float: left;
    text-align: left;
    padding-left: 3px; }

.contactright {
  margin-top: -30px; }
  .contactright .resimg {
    float: right; }
  .contactright .rescontact {
    float: right;
    text-align: right;
    padding-right: 7px; }

.resheader {
  padding-top: 10px;
  font-size: 1.7em;
  color: #aaa;
  border-bottom: 1px solid #aaa;
  margin-bottom: 10px; }

.resimg {
  width: 45px;
  height: 45px;
  border-radius: 10px; }
  .resimg img {
    width: 45px; }

.rescontact {
  font-size: 1.2em;
  line-height: 0.95em;
  padding-top: 7px; }
  .rescontact i {
    font-size: 0.85em;
    color: #888; }

.resxp {
  line-height: 1.3em; }

.edutitle {
  cursor: pointer; }
  .edutitle b {
    float: left;
    font-size: 1.2em; }
  .edutitle i {
    float: right;
    font-size: 1.1em; }
  .edutitle p {
    clear: both; }

.classlist {
  display: none;
  margin-top: -10px;
  padding-left: 10px; }
  .classlist i {
    color: #888;
    padding-right: 7px; }
  .classlist p {
    margin-top: -13px; }

.respub {
  line-height: 1.3em; }
  .respub u {
    padding-left: 10px; }
  .respub .pubauth {
    color: #888;
    padding-left: 10px; }
    .respub .pubauth u {
      color: black;
      text-decoration: none;
      padding-left: 4px; }

.resgrant {
  line-height: 1.1em; }
  .resgrant i {
    color: #888; }

.teachxp {
  line-height: 1.1em; }
  .teachxp i {
    color: #888; }

.footercontainer {
  height: auto;
  background-color: #888;
  clear: both;
  margin: -10px;
  margin-top: 60px;
  padding: 0;
  color: #e7e7e7; }
  .footercontainer a, .footercontainer a:visited {
    color: #e7e7e7; }
  .footercontainer a:hover {
    color: #e7e7e7;
    text-decoration: underline; }
  @media only screen and (max-width: 767px) {
    .footercontainer {
      display: none; } }

.footercontent {
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 600px; }

.footerbiopic {
  width: 150px;
  float: left;
  padding: 20px;
  z-index: 50; }
  @media only screen and (max-width: 767px) {
    .footerbiopic {
      float: none;
      margin-right: auto;
      margin-left: auto; } }

.footertext {
  width: 400px;
  float: right; }
  @media only screen and (max-width: 767px) {
    .footertext {
      float: none;
      width: 90%;
      margin-left: auto;
      margin-right: auto; } }

.footerlink {
  font-size: 1.3em;
  height: 20px;
  border-right: 1px solid #e7e7e7;
  padding: 5px;
  float: left; }

.attributions {
  padding-top: 0px;
  clear: both;
  width: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }
  .attributions img {
    margin-top: 4px;
    margin-bottom: -4px; }
  @media only screen and (max-width: 767px) {
    .attributions {
      padding-top: 40px; } }
