<!-- Header -->
<header id="header"{% if page.layout == 'landing' %} class="alt"{% endif %}>
    <h1 style="width: auto"><a href="{{ site.baseurl }}/index.html">{{ site.title }}</a></h1>
    <div id="breadcrumb">
        {% capture page_url_without_index_html %}{{ page.url | remove: "/index.html" }}{% endcapture %}
        {% assign splitted_url_parts = page_url_without_index_html | split: '/' %}
        {% capture forLoopMaxInt %}{{ splitted_url_parts.size | minus:1 }}{% endcapture %}
        {% for i in (1..forLoopMaxInt) %}
            {% capture current_breadcrumb_url %}{{next_prepender}}/{{ splitted_url_parts[i] }}/index.html{% endcapture %}
            {% capture current_breadcrumb_md_url %}{{next_prepender}}/{{ splitted_url_parts[i] }}/{% endcapture %}
            {% capture next_prepender %}{{next_prepender}}/{{ splitted_url_parts[i] }}{% endcapture %}
            {% for breadcrumb_page in site.pages %}
                {% if current_breadcrumb_url == breadcrumb_page.url or current_breadcrumb_md_url == breadcrumb_page.url  %}
                    {% assign j = forLoopMaxInt | plus: 0 %}
                    {% capture breadcrumb_page_page_url_without_index_html %}{{ breadcrumb_page.url | remove: "index.html" }}{% endcapture %}
                    &#187;
                    {% if i != j %}<a href="{{ site.baseurl }}{{breadcrumb_page_page_url_without_index_html}}">{% endif %}{{breadcrumb_page.title}}{% if i != j %}</a>{% endif %}
                {% endif %}
            {% endfor %}
            {% for breadcrumb_page in site.posts %}
                {% if current_breadcrumb_url == breadcrumb_page.url or current_breadcrumb_md_url == breadcrumb_page.url  %}
                    {% assign j = forLoopMaxInt | plus: 0 %}
                    {% capture breadcrumb_page_page_url_without_index_html %}{{ breadcrumb_page.url | remove: "index.html" }}{% endcapture %}
                    &#187;
                    {% if i != j %}<a href="{{ site.baseurl }}{{breadcrumb_page_page_url_without_index_html}}">{% endif %}{{breadcrumb_page.title}}{% if i != j %}</a>{% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
    <nav id="nav">
        <ul>
            <li class="special">
                <a href="#menu" class="menuToggle"><span>Menu</span></a>
                <div id="menu">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        {% for my_page in site.pages %}
                            {% if my_page.title %}{% if my_page.sidebar %}
                                <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
                            {% endif %}{% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
</header>
