code {
	background-color: $themegrey;
}

.shell {
	width: 95%;
	padding-left: 10px;
	background-color: $themegrey;
	border: 1px solid $themedgrey;
	word-wrap: break-word;
	border-radius: 5px;
	font-size: 1.2em;
}

.code {
	width: 60%;
	float: left;
	padding: 10px;
	background-color: $progback;
	border: 1px solid $progborder;
	white-space: pre-wrap;
	border-radius: 5px;
	font-size: 1.2em;
	line-height: 1.1em;
	word-wrap: break-word;
	
	code { background-color: transparent; }
	
	@media #{$mediaphone} {
		width: 90%;
		float: none;
	}
}

.results {
	width: 32%;
	margin-left: 1%;
	float: left;
	padding: 10px;
	background-color: $resultback;
	border: 1px solid $resultborder;
	white-space: pre-wrap;
	border-radius: 5px;
	font-size: 1.2em;
	line-height: 1.1em;
	
	code { background-color: transparent; }
	
	@media #{$mediaphone} {
		width: 90%;
		float: none;
	}
}



