.wocsphot {
	margin: 0 0 1.7em 0;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 1.7em;
	
	th {
		font-size: 1.1em;
		font-weight: bold;
		padding-bottom: 3px;
		border-bottom: 3px solid $themegrey;
		text-align: center;
	}
	
	td {
		padding-top: 4px;
		padding-bottom: 4px;
		border-bottom: 1px solid $themegrey;
		text-align: center;
	}
	
	.name { text-align: left; }
	
	.deccoo { display: none; }
}