.lessonlist {
	width: 80%;
	
	@media #{$mediatablet} {
		width: 100%;
	}
	
	@media #{$mediaphone} {
		width: 100%;
	}
}

.lessonwrap {
	border-bottom: 1px solid $themegrey;
}

.lessonsummimg {
	margin-left: 10px;
	margin-top: 25px;
	padding: 2px;
	float: left;
	border: 1px solid $themegrey;
	
	@media #{$mediaphone} {
		width: 100px;
		margin-left: 0px;
	}
}

.lessonemptyimg {
	padding-left: 10px;
	padding-top: 25px;
	float: left;
	width: 200px;
	height: 30px;
	
	@media #{$mediaphone} {
		display: none;
	}
}

.lessonsummtitle {
	float: left;
	width: 470px;
	padding-left: 25px;
	padding-top: 27px;
	font-size: 1.3em;
	text-transform: uppercase;
	
	a { color: black; }
	a:visited { color: black; }
	a:hover { color: $themeblue; }
	
	@media #{$mediaphone} {
		font-size: 1.0em;
		width: 170px;
		padding-left: 10px;
	}
}

.lessonsummtext {
	padding-top: 10px;
	float: left;
	width: 470px;
	padding-left: 25px;
	font-size: 1.12em;
	line-height: 1.6em;
	
	@media #{$mediaphone} {
		width: 100%;
		padding-left: 5px;
		font-size: 0.9em;
	}
}
