.researchmainimg {
	padding: 0px;
	margin-top: 20px;
	border: 0px;
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 0 20px black;
	
	@media #{$mediaphone} {
		width: 110%;
		margin-left: -5%;
		box-shadow: 0 0 0px black;
		margin-bottom: -20px;
	}
}

.researchpage {
	h2 {
		font-size: 2em;
		
		@media #{$mediaphone} {
			text-align: center;
			font-size: 1.5em;
			line-height: 1em;
		}
	}
	
	h4 {
		font-size: 1.3em;
		color: $themedgrey;
		margin-top: -15px;
		
		@media #{$mediaphone} {
			text-align: center;
			font-size: 0.7em;
		}
	}
	
	p {
		@media #{$mediaphone} {
			width: 98%;
			padding-left: 1%;
			font-size: 0.9em;
			line-height: 1.4em;
		}
	}
}
