.royalslider {
	
	@media #{$mediaphone} {
		display: none;
	}
}

.slidertitle {
	font-size: 2.5em;
	line-height: 1em;
	text-align: center;
	padding-bottom: 20px;
	
	@media #{$mediatablet} {
		font-size: 1.8em;
		padding-bottom: 5px;
	}
}

.slidertext {
	font-size: 1.3em;
	
	@media #{$mediatablet} {
		font-size: 0.98em;
	}
	
	a, a:visited{ color: white; }
	a:hover{ color: $themeblue; }
	
	.button { margin-top: 20px; }
}

.contact { 
	margin-top: -30px;
	
	img { 
		padding-bottom: -20px;
	}
}

.slidericon {
	height: 50px;
	padding-right: 0px;
	border: 0px;
}

.button {
	padding: 5px 12px 6px 12px;
	background: $themeblue;
	border: none;
	height: 33px;
	width: 140px;
	margin-left: auto;
	margin-right: auto;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	
	@media #{mediatablet} {
		height: auto;
	}
}
.button:hover { background: #222; }

