---
layout: page
title: Observational Astrophysics
permalink: /education/obsastro/
---

<div class="row">
<div id="bloglist" class="col-sm-12">
    {% for post in site.posts %}{% if post.categories contains 'obsastro' %}
    	{% if post.image %}
    		<span class="image left">
    			{% image blog_thumbnail {{ post.image}} %}
    		</span>
    	{% endif %}
    	<header>
    		<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
    		<p></p>
    	</header>
        <p class="blog-content">{{ post.content | strip_html | truncatewords: 40 }}</p>
    	<hr/>
    {% endif %}{% endfor %}
</div>

</div>
