---
layout: default
title: Resume
permalink: /resume/
sidebar: 1
---

<div id="page-wrapper" style="padding-top: 0px;">
    <section class="wrapper style5" style="padding-top: 20px;">
        <div class="inner">
            <h2 class="resume-section-header" style="margin-bottom: 30px;">Ben Thompson's R&eacute;sum&eacute;</h2>
            <div class="row">
                <!-- Main Left content -->
                <div class="col-sm-8" style="padding-right: 30px;">
                    <h3 class="resume-section-header">Industry Experience</h3>
                    {% for job in site.data.resume.jobs %}{% if job.category == "industry" %}
                    <div class="row">
                        <div class="col-sm-8 resume-position"><b>{{ job.position }} at {{ job.company}}</b></div>
                        <div class="col-sm-4 resume-dates"><i>{{ job.start }}{% if job.end %} to {{ job.end }}{% endif %}</i></div>
                        <ul class="resume-list">
                            {% for bullet in job.bullets %}
                                <li>{{ bullet }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}{% endfor %}

                    <h3 class="resume-section-header">Research Experience</h3>
                    {% for job in site.data.resume.jobs %}{% if job.category == "research" %}
                    <div class="row">
                        <div class="col-sm-8 resume-position"><b>{{ job.position }} at {{ job.company}}</b></div>
                        <div class="col-sm-4 resume-dates"><i>{{ job.start }}{% if job.end %} to {{ job.end }}{% endif %}</i></div>
                        <ul class="resume-list">
                            {% for bullet in job.bullets %}
                                <li>{{ bullet }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}{% endfor %}
                </div>

                <!-- Left Sidebar -->
                <div class="col-sm-4">
                    <div class="row">
                        <h3 class="resume-section-header">Contact</h3>
                        {% for method in site.data.resume.contact %}
                            <div class="col-sm-12" style="padding-bottom: 5px;">
                                <i class="fa fa-{{ method.icon }} fa-lg" style="margin-right: 8px;"></i>
                                {% if method.link %}<a href="{{ method.link }}" target="_blank">{% endif %}
                                {{ method.text }}
                                {% if method.link %}</a>{% endif %}
                            </div>
                        {% endfor %}
                    </div>

                    <div class="row">
                        <h3 class="resume-section-header">Skills</h3>
                        {% for skill in site.data.resume.skills %}
                            <div class="col-sm-4 resume-skill">{{ skill }}</div>
                        {% endfor %}
                    </div>

                    <div class="row">
                        <h3 class="resume-section-header">Education</h3>
                        {% for degree in site.data.resume.education %}
                            <div class="row resume-degree">
                                <div class="col-sm-9"><b>{{ degree.degree }}</b></div>
                                <div class="col-sm-3 resume-dates">{{ degree.date }}</div>
                                <div class="col-sm-12">{{ degree.school }}</div>
                                <div class="col-sm-12"><i>{{ degree.city }}</i></div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
