---
layout: blog
---

{% if page.image %}
	{% image 1000x400 {{ page.image }} width="100%" class="img-fluid rounded" %}
{% endif %}

<h1 style="padding-top: 15px;">{{ page.title }}</h1>
<h5 class="text-muted" style="padding-bottom: 15px;">
    {{ page.date | date_to_string }} &middot; <i>by</i> bathompso &middot; <i>in</i>
	{% for tag in page.tags %}
		&nbsp;<a class="greylink" href="/blog/tag/{{ tag }}/">{{ tag }}</a>&nbsp;
	{% endfor %}
</h5>

<div>
{{ content }}
</div><hr style="margin-top: 30px;"/>

<div class="socialbutton">
	<div class="fb-like" data-href="{{ site.fburl }}{{ page.url }}index.html" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
</div>
<!-- Twitter -->
<div class="socialbutton">
	<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-count="vertical" data-via="bathompso" data-url="{{ site.fburl }}{{ page.url }}index.html" data-text="{{ page.title }}">Tweet</a>
</div>
<!-- Google+ -->
<div class="socialbutton">
	<div class="g-plusone" data-href="{{ site.fburl }}{{ page.url }}index.html"></div>
</div>
<!-- LinkedIn -->
<script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US </script>
<script type="in/share" data-url="{{ site.fburl }}{{ page.url }}index.html" data-counter="right"></script>

<hr/>

<!-- Facebook Comments -->
<div class="row"><div class="fb-comments" data-href="{{ site.fburl }}{{ page.url }}index.html" data-num-posts="{{ site.comments.facebook.num_posts }}" data-width="{{ site.comments.facebook.width }}" data-colorscheme="{{ site.comments.facebook.colorscheme }}"></div></div>



<!-- Social Sharing Javascript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=234685989915759";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
