{% include header %}
	
	<div class="pagecontent">
    	
    	<div class="blogcontent">
    		{{ content }}
    	</div>
    	
    	<div class="blogside">
    		<span style="color:#aaa;letter-spacing:1px;">LIKE WHAT YOU'RE READING?</span>
    		<div><a href="https://twitter.com/bathompso">
    			<img src="/media/simple-icons/twitter/twitter-64-black.png">
    			<span style="padding-top:15px;float:left;">Follow Me on Twitter</span>
    		</a></div>
    		<div><a href="http://www.linkedin.com/in/bathompso/">
    			<img src="/media/simple-icons/linkedin/linkedin-64-black.png">
    			<span style="padding-top:15px;float:left">Connect With Me on LinkedIn</span>
    		</a></div>
    		<p style="clear:both">&nbsp;</p>
    		<span style="color:#aaa;letter-spacing:1px;padding-top:30px;padding-bottom:-5px;">RECENT TWITTER STATUS<br />&nbsp;</span>
    		<a class="twitter-timeline" href="https://twitter.com/bathompso" data-widget-id="329327309414858752">Tweets by @bathompso</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    	</div>
	</div>
	
	
{% include footer %}
